*, *::before, *::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
    box-sizing: border-box;
}

:root {
    --bg-color: #fff;

    --header-white-font: #fff;
    --body-font: #111827;
    --body-p-font: #6B7280;

    --input-bg: #fff;
    --input-txt: #6B7280;
    --input-border: #D1D5DB;

    --search-btn-bg: #F9FAFB;
    --search-btn-txt: #374151;
    --button-hover-bg: #897A7F;

    --border-bottom: #E5E7EB;
    --exproring-txt: #DFDDDD;
}

[data-theme="dark"] {
    --bg-color: #121212;

    --body-font: #FFFFFF;
    --body-p-font: #A5A5A5;
    
    --input-bg: #2E2E2F;
    --input-txt: #A5A5A5;
    --input-border: #4B4B4B;

    --search-btn-bg: #4B4B4B;
    --search-btn-txt: #fff;
    --button-hover-bg: #2C1821;

    --border-bottom: #2C2C2C;
    --exproring-txt: #2E2E2F;
} 

body { 
    background-color: var(--bg-color);
    font-family: "Inter", sans-serif;
    letter-spacing: 0.01em;
}

/*--- typography ---*/

header h1 { font-size: 2.3rem;}

header a.top-link  { 
    font-size: 1.3rem;
    color: var(--header-white-font);
}

button.search-btn,
input.search-movie { font-family: inherit;}


div.mov-headline h2 { font-size: 1.1rem;}
div.mov-headline h3 { font-size: 0.6rem;}

div.mov-details h4 { font-size: 0.6rem;}
div.watchlist-btn h4 { font-size: 0.7rem; }

div.start-page p { 
    color: var(--exproring-txt);
    font-size: 1.1rem;
    font-weight: 600;
}
div.movie-cont p { 
    font-size: 0.7rem;
    color: var(--body-p-font);
}

/*--- layout--- */

header {
    display: grid;
    padding: 0.7em;
    color: var(--header-white-font);
    background-image: url("assets/movie-theatre.jpg");
    background-position: center;
    background-size: cover;
    height: 25vh;
    width: 100vw;
}

header i {
    padding-top: 1em;
    justify-self: right;
    cursor: pointer;
}

.search-bar { 
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 7vh;
    top: 23vh;
}

input.search-movie,
button.search-btn { 
    height: 5vh;
    border: 1px solid var(--input-border);
    box-shadow: 0 1px 1px var(--input-border);
}

input.search-movie {
    width: 65vw;
    padding-left: 2.5em;
    border-radius: 5px 0 0 5px;
    color: var(--input-txt);
    background-color: var(--input-bg);
    background-image: url("assets/search_icon.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 25px;
}

input.search-movie:focus {
    outline:none;
    box-shadow: 0 0 4px var(--search-btn-txt);
}

button.search-btn {
    font-family: inherit;
    padding: 0 1em;
    color: var(--search-btn-txt);
    font-weight: 600;
    background-color: var(--search-btn-bg);
    width: 25vw;
    border-radius: 0 5px 5px 0;
    border-left: none;
}

button.search-btn:hover,
button.search-btn:active {
    background-color: var(--button-hover-bg);
    color: var(--header-white-font);
}

div.start-page { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    height: 70vh;
    width: 100vw;
}


div.movie-cont {
    display: grid;
    grid-template-columns: 105px auto;
    grid-template-rows: repeat(3, auto);
    gap: 0.5em;
    width: 90%;
    max-width: 900px;
    padding: 0.7em 0;
    margin: 2em auto;
    border-bottom: 1px solid var(--border-bottom);
}

img.movie-poster {
    grid-row: 1 / -1;
    width: 105px;
    border-radius: 5px;
}

.mov-details,
.mov-headline { 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.7em;
}

div.movie-cont h2,
div.movie-cont h3,
div.movie-cont h4,
div.watchlist-btn { 
    font-weight: 400;
    color: var(--body-font);
    font-family: inherit;
}

div.watchlist-btn { 
    display: flex;
    gap: 0.3em;
} 

@media (min-width:550px) and (max-width: 840px) {
    header { 
        grid-template-columns: auto auto;
        padding: 1.5em;
    }

    header h1 { 
        grid-column: 1;
        font-size: 3rem;
        place-self: center;
    }

    header a.top-link  { 
        grid-column: -1;
        font-size: 1.5rem; 
        justify-self: right;
        place-self: center;
    }

    i { grid-column: -1;}

}

@media (min-width: 840px) {

    header h1 { 
        grid-column: 1;
        font-size: 4rem;
        place-self: center;
    }

    header a.top-link  { 
        grid-column: -1;
        font-size: 2rem; 
        justify-self: right;
        place-self: center;
    }

    i { grid-column: -1;}

    button.search-btn,
    input.search-movie { font-size: 1.2rem;}

    input.search-movie { width: 50vw;}
    button.search-btn { width: 15vw;}    

    header { 
        grid-template-columns: auto auto;
        padding: 1.5em;
    }
}
