*, *::before, *::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
    box-sizing: border-box;
}

:root {
    --white: #efefef;
    --black: #121212;
}

body {
    background-color: var(--white);
    font-family: "Nunito", sans-serif;
}

/*--- typography ---*/

header h1 { font-size: 2.3rem;}

header h1,
header a { text-shadow: 0px 0px 4px var(--black);}

header a {
    color: var(--white);
    font-size: 1.1rem;
}

/*--- layout--- */

header {
    display: grid;
    padding: 1em;

    color: var(--white);
    background-image: url(movie-theatre.jpg);
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 100vw;
}

i {
    justify-self: right;
    cursor: pointer;
    height: 20px;
}


@media (min-width: 610px) {
    header { 
        height: 280px; 
    }
}
